body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header genel stiller */
.header-container {
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container .header-nav .logo {
  margin-right: 76px;
}

.header-container .header-nav .nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Address kısmı */
.header-container .contact-info {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Section 1 */
.hero-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.hero-container .hero-title {
  font-weight: 700;
  width: 496px;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-container .hero-button {
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.our-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.medium-text {
  font-weight: 400;
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 - Our Team */
.our-team {
  background-color: #f4f4fd;
}

.section-title {
  width: 162px;
  height: 40px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  background-color: #ffffff;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-role {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* Section 4 (Portfolio) */
/* Başlık */
.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Başlık */
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Açıklama Metni */
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer genel stilleri */
.footer {
  background-color: #2e2f42;
}

/* Footer'daki logo */
.footer .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Footer'daki <span> etiketi */
.footer .logo-span {
  color: #f4f4fd;
}

/* Footer açıklama metni */
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
